*{margin:0;padding:0;font-family: 'Microsoft YaHei'}
html{height: 100%}
body{
	background: url(../img/iphone.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	height: 100%;
	padding-top:0.01rem;
}
.tittle{
	width:100%;
	height: 1.6rem;
	text-align: center;
	margin-top:0.97rem;
}
.tittle p{
	font-size:0.48rem;
	font-weight: bold;
	color:#01097a;
	text-shadow:1px 1px 5px #fff;
}
.down{
	margin-top:0.2rem;
}
.cate{
	width: 5rem;
	height: 6.58rem;
	margin:0 auto;
	margin-top:1.58rem;
}
.cate ul li{
	width: 5rem;
	height: 0.68rem;
	background: #fff; 
	margin-bottom:0.2rem; 
	list-style: none;
	border:1px solid #d30115;
	border-radius: 0.05rem;
}
.lab{
	width:1.4rem;
	height: 0.68rem; 
	background:#d30115; 
	font-size: 0.24rem;
	line-height: 0.68rem;
	text-align: center;
	color:#fff;
	float: left;
}
.ipt{
	float: right;
	width: 3.6rem;
	height: 0.68rem;
}
.ipt select{
	width: 3.6rem;
	height: 0.68rem;
	font-size:0.24rem;
	float: left;
	border:none;
	padding-left: 0.1rem;
	outline: none;color:#dadadb;
}
option{font-size:0.24rem;color: #000;}
.cate ul li.btn{
	margin-top:0.7rem;
	background: #010970;
	border:none;
	font-size: 0.26rem;
	color:#fff;
	line-height: 0.68rem;
	text-align: center;
}
.tishi{
	width: 5.04rem;
	margin:0 auto;
	margin-top:0.3rem;
}
.tishi p{
	font-size: 0.24rem;
	line-height: 0.45rem;
}
.tishi p.red{
	color: #d60303;
}
